.container-fluid-landing {
    animation: popup 1s;
    height: 100vh;
}

.container-intro{
    animation: blur 1s;
}

.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    animation: popup 2.5s;
    animation: blur 1s;
}

.btn-1 button {
    text-decoration: none;
    border: 2px solid #010100;
    border-radius: 5px;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

span{
    position: relative;
    z-index: 3;
}

.btn-1 button::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: white;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
    }
    
    .btn-1 button:hover::after {
    transform: scaleY(0);
}

    .btn-1 button::before {
        content: "";
        position: absolute;
        left: 5px;
        top: -5px;
        width: calc(100% - 10px);
        height: calc(100% + 10px);
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        transform: scaleX(1);
    }

        .btn-1 button:hover::before {
        transform: scaleX(0);
    }
    
/* Animación */

@keyframes blur {
    0% {
    filter: blur(12px);
    }
    100% {
    filter: blur(0px);
    }
}

@keyframes popup {
    0% {
    transform: scale(1.1);
    opacity: 0;
}
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

