.container-fluid {
    animation: popup 2s;
    height: 100vh; /* Agregado para ocupar toda la altura de la pantalla */
}

.container-intro{
    animation: blur 2s;
}

.button{
    font-size: l;
}

/* Animación */

@keyframes blur {
    0% {
    filter: blur(12px);
    }
    100% {
    filter: blur(0px);
    }
}

@keyframes popup {
    0% {
    transform: scale(1.2);
    opacity: 0;
}
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

